* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-shadow: .2px .2px 2px rgb( 0, 0, 0, .2); */
}

body {
  width: 1000px;
  height: 1825px;
  margin: 0 auto;
}

header {
  height: 150px;
  background-color: #ededed;
}

.header > ul {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > ul > li {
  list-style-type: none;
}

.header > ul > li > a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #9f9f9f;
  margin-right: 5px;
}

.nav__menu li > a:hover {
  color: red;
}

.header > ul > li > i {
  padding-left: 241px;
  margin-top: 4px;
  color: white;
}

.header__search i {
  position: absolute;
}

.header__search__input {
  border: none;
  margin-right: 20px;
  border-radius: 20px;
  background: #c8c8c8;
  height: 25px;
  width: 210px;
  margin-left: 50px;
}

.header nav div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #fafafa;
}

.header div > a {
  text-decoration: none;
  color: #666666;
  font-size: 40px;
  margin-left: 20px;
}

.header div > a p {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

.nav__menu {
  display: flex;
  align-items: center;
  width: 650px;
}

.nav__menu li {
  flex: 1 auto;
  padding-right: 5px;
  list-style-type: none;
}

.nav__menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
}

.nav__menu li p {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
}

main {
  height: 1255px;
  background-color: #fafafa;
}

.banner {
  height: 575px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

.info {
  height: 106px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info > p {
  width: 800px;
  text-align: center;
  font-style: italic;
  font-size: 20pt;
}

hr {
  margin: 0 auto;
  width: 850px;
  color: gray;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.content {
  height: 570px;
  display: flex;
  align-items: center;
}

.content section {
  height: 468px;
  display: flex;
}

.content section > aside {
  width: 265px;
  padding-right: 20px;
  padding-left: 20px;
}

.content section > aside p {
  padding-bottom: 20px;
}

.content section > section {
  width: 735px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.content section > section > article > img {
  box-shadow: -2px 14px 21px -9px rgba(0, 0, 0, 0.63);
}

.content section > section > article > p {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 10pt;
  font-family: "Roboto Slab", serif;
}

.content section > section > article > a {
  text-decoration: none;
  color: red;
}

.content__aside__top {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
}

.conten__aside__bottom {
  font-size: 10pt;
  font-family: "Roboto Slab", serif;
}

footer {
  height: 420px;
}

.footer__section__top {
  height: 360px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ededed;
  grid-gap: 15px;
  padding: 20px;
}

.footer__section__bottom {
  height: 60px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px;
  font-family: "Roboto Slab", serif;
  font-size: 10pt;
}

.footer__heading {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__p {
  font-size: 10pt;
  font-family: "Roboto Slab", serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__section__top__left {
  width: 300px;
}

.footer__section__top__left input {
  border: none;
  border-radius: 5px;
  background: #dadada;
  height: 35px;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer__section__top__left button {
  border: none;
  border-radius: 5px;
  background: #dadada;
  height: 35px;
  width: 80px;
  color: red;
}

.staysocial {
  display: grid;
  grid-template-columns: auto auto;
}

.staysocial div a {
  text-decoration: none;
}

.staysocial > div {
  display: flex;
  align-items: center;
  height: 40px;
}

.staysocial > div > img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 10px;
}

.footer__a {
  color: red;
  float: right;
}
